.map-title {
    text-transform: uppercase;
}

.map-title span {
    background: linear-gradient(90deg, #009946 0%, #6CA7DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
